/* ================================= */
/* === Author James Mcavady 2014 === */
/* ================================= */

/* reset */
body {margin:0px;padding:0px;}
img {margin:0px;padding:0px;}
p {margin:0px;padding:0px;}
ul {}
ol {}
li {}
h1,h2,h3,h4,h5,h6 {}

/* =================== */
/* === main styles === */
/* =================== */
#wrapper{
	width:100%;
	float:left;
	background:#eee;
}
#header{
	width:100%;
	height:150px;
	float:left;
	clear:both;
	background:#ff9000;
}
#content-wrapper {
	width:100%;
	float:left;
}
#sidebar{
	width:240px;
	min-height:500px;
	float:left;
	background:#00ff00;
}
#main-content{
	width:100%;
	float:none;
	min-height:500px;
	background:#0000ff;
}
#footer{
	width:100%;
	min-height:150px;
	float:left;
	clear:both;
	background:#000;
}

/* ===================== */
/* === media query's === */
/* ===================== */

@media screen and (min-width: 1080px){

}
