/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../lib/gems/1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../lib/gems/1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../lib/gems/1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../lib/gems/1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../lib/gems/1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../lib/gems/1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../lib/gems/1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../lib/gems/1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../lib/gems/1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/partials/_header.scss */
header {
  margin-top: 60px;
  background: #000;
  margin-bottom: 20px;
}

/* line 2, ../sass/partials/_main.scss */
article {
  background: #fff;
  margin-bottom: 20px;
}

/* line 3, ../sass/partials/_footer.scss */
footer {
  padding-top: 20px;
  background: #000;
}

/* line 8, ../sass/partials/_footer.scss */
.footer-col {
  text-align: center;
  margin-bottom: 20px;
}
/* line 12, ../sass/partials/_footer.scss */
.footer-col i {
  color: #fff;
}

/* line 3, ../sass/partials/_home-page.scss */
article {
  min-height: 320px;
}

/* line 1, ../sass/partials/_flipper.scss */
.prodcut {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  float: left;
}

/* line 8, ../sass/partials/_flipper.scss */
.flip-container:active .flipper, .flip-container.active .flipper, .flip-container.flip .flipper {
  transform: rotateY(180deg);
}

/* line 13, ../sass/partials/_flipper.scss */
.flip-container {
  perspective: 1000;
}

/* line 17, ../sass/partials/_flipper.scss */
.flip-container, .front, .back {
  width: 320px;
  height: 320px;
}

/* flip speed goes here */
/* line 23, ../sass/partials/_flipper.scss */
.flipper {
  transition: 0.5s;
  transform-style: preserve-3d;
  position: relative;
}

/* line 31, ../sass/partials/_flipper.scss */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
  background: #ddd;
}

/* back, initially hidden pane */
/* line 39, ../sass/partials/_flipper.scss */
.back {
  transform: rotateY(180deg);
  background: #ccc;
}
